<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <app-authors></app-authors>
  <hr>
  <app-favorite [isFavorite]="false" (change)="favChanged($event)"></app-favorite>
  <hr>
  <bs-panel>
    <ng-container class="heading">Panel Heading</ng-container>
    <ng-container class="body">
      <h4>Panel Body</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, repellendus tenetur suscipit vitae vel deserunt
        expedita mollitia dolores. Architecto voluptates provident laboriosam ad atque? Quaerat tempora incidunt libero
        cumque officiis.</p>
    </ng-container>
  </bs-panel>

  <hr>
  <div *ngIf="courses.length > 0; then courseList else noCourse" class="alert alert-success"></div>
  <ng-template #courseList>
    Courses List
  </ng-template>
  <ng-template #noCourse>
    No Courses Yet
  </ng-template>

  <hr>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode='map'">Map View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode='list'">List View</a>
    </li>
  </ul>
  <div class="alert alert-primary" [ngSwitch]="viewMode">
    <div class="text-success" *ngSwitchCase="'map'">Map View Content</div>
    <div class="text-success" *ngSwitchCase="'list'">List View Content</div>
    <div class="text-success" *ngSwitchDefault>Invalid Selection</div>
  </div>

  <hr>

  <ul class="list-group w-50">
    <li *ngFor="let c of courses; index as i; even as isEven; trackBy: identityFn" class="list-group-item">
      {{i}} - {{c.name}} {{c.description?.published}} <span *ngIf="isEven" class="badge badge-pill badge-info">even</span>
      <button class="btn btn-sm btn-warning m-1 float-right" (click)="editCourse(i)"> Edit </button>
      <button class="btn btn-sm btn-danger m-1 float-right" (click)="deleteCourse(i)"> Delete </button>
    </li>
  </ul>

  <button class="btn btn-secondary m-1" (click)="loadCourses()">Load Courses</button>
  <button  class="btn btn-success m-1" (click)="addCourse()"> Add </button>
</div>
