<style>
  .fa-star {
    color: blueviolet;
  }
</style>
<div class="row alert">
  <div class="col-1"><i class="fa-star" [ngClass]="{'far': !isClicked, 'fas': isClicked}" [ngStyle]="{'padding.px': 10}" (click)="onClick()"></i></div>
  <div class="col-8">
    <h5>Blog Title</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur adipisci facere, minus perspiciatis voluptatum quam explicabo quidem maxime temporibus et consequatur nemo. Temporibus perspiciatis et nulla dolores asperiores beatae quibusdam?</p>
  </div>
</div>